.loja{
    display: flex;
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 45vw;
    height: 100vh;
    background-color: rgba(7, 18, 57, 0.613);
    backdrop-filter: blur(5px);
    text-align: center;
    gap: 60px;
}
.loja table{
    color: aliceblue;
    border: 1px solid black;
}
.loja{
    position: fixed;
    margin-left: 60%;
    margin-bottom: 100%;
    overflow-y: auto;
    /* direction: rtl; */
}
@media (max-width: 500px) {
    .loja{
        width: 100vw;
        margin-left: 0;
    }
}

table tr:first-child{
    padding: 50px 0px;
}
table *{
    text-align: center;
}
tr{
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 10px;
}
td{
    padding: 10px;
    background-color: rgba(0, 0, 139, 0.518);
    margin-right: 40px;
}
tr td div{
    width: 65px;
    height: 65px;
    clip-path: circle(40%);
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    gap: 100px;
}

/* produtos */
#bolaAzul{
    background-color: rgb(0, 0, 255);
}
#bolaAmarela{
    background-color: rgb(255, 255, 0);
}
#bolaVermelha{
    background-color: rgb(255, 0, 0);
}
#bolaVerde{
    background-color: rgb(40, 190, 40);
}
#bolaRoxa{
    background-color: rgb(174, 10, 174);
}
#bolaLaranja{
    background-color: rgb(255, 165, 0);
}
/* ------------------------ */
#bolaBaseball{
    background-image: url("../imagem/bola/bolaBaseball.png");   
}
#bolaBasquete{
    background-image: url("../imagem/bola/bolaBasquete.png");
}
#bolaBoliche{
    background-image: url("../imagem/bola/bolaBoliche.png");
}
#bolaFutebol{
    background-image: url("../imagem/bola/bolaFutebol.png");
}
#bolaGolfe{
    background-image: url("../imagem/bola/bolaGolfe.png");
}
#bolaSinuca{
    background-image: url("../imagem/bola/bolaSinuca.png");
}
#bolaTennis{
    background-image: url("../imagem/bola/bolaTennis.png");
}
#bolaVolei{
    background-image: url("../imagem/bola/bolaVolei.png");
}