#configuracoes{
    position: fixed;
    top: 0;
    background-color: rgba(153, 164, 202, 0.781);
    backdrop-filter: blur(5px);
    overflow-y: auto;
    width: 400px;
    height: 100vh;
    display: none;
}
#configuracoes button{
    margin-left: auto;
    font-size: 25px;
    border-radius: 5px;
    border: 0;
    color: aliceblue;
    background-color: rgb(26, 35, 66);
    transition: 0.4s;
}
    #configuracoes button:hover{
        scale: 1.3;
        background-color: rgb(61, 74, 121);
    }
#configuracoes div{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}