#configuracoes{
    position: fixed;
    top: 0;
    background-color: rgba(153, 164, 202, 0.781);
    backdrop-filter: blur(5px);
    overflow-y: auto;
    width: 400px;
    height: 100vh;
    display: none;
}
#configuracoes button{
    margin-left: auto;
    font-size: 25px;
    border-radius: 5px;
    border: 0;
    color: aliceblue;
    background-color: rgb(26, 35, 66);
    transition: 0.4s;
}
    #configuracoes button:hover{
        scale: 1.3;
        background-color: rgb(61, 74, 121);
    }
#configuracoes div{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.switch {
    --secondary-container: #4a4a4a;
    --primary: #d6d6d6;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.7em;
    height: 1.8em;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #313033;
    transition: .2s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    background-color: #aeaaae;
    transition: .4s;
}
.switch + h1{
    width: 280px;
}
input:checked + .slider::before {
    background-color: var(--primary);
}

input:checked + .slider {
    background-color: var(--secondary-container);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-container);
}

input:checked + .slider:before {
    transform: translateX(1.9em);
}