#placar{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 40vw;
    min-width: 530px;
    max-height: 100vh;
    overflow: auto;
    background: url(../imagem/background_placar.png) var(--corFundoHeader);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 10px 100px;
    border-left: 1px solid rgb(26, 35, 66);
    box-sizing: border-box;
}
.fechar{
  position: absolute;
  top: 0;
  right: 15px;
}
#aviso{
  background-color: var(--corFundo);
  color: var(--corFonte);
  padding: 10px;
}
/*  */
/*  */
/*  */

#formNickname{
  text-align: center;
  background-color: var(--corFundoHeader);
  padding: 20px 10px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 15px;
}
#formNickname input{
  padding: 5px;
  border: 1px solid rgb(26, 35, 66);
  border-radius: 5px;
  font-size: 1.5em;
  background-color: var(--corFundo);
  color: var(--corFonte);
}
#formNickname input::placeholder{
  color: var(--corFonte);
  filter: opacity(0.4);
}

#containerFotos{
  display: flex;
}
#containerFotos span{
  font-size: 3em;
  align-content: center;
}

.gridPerfil{
  margin: 0 auto;
  margin-top: 15px;
  display: none;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  gap: 5px;
  background-color: var(--corFundo);
  padding: 10px;
  width: fit-content;
}
.gridPerfil .foto{
  border: 1px solid white;
  width: 60px;
}
.fotoSelecionada{
  border: 1px solid blue !important;
}

/*  */
/*  */
/*  */
#placarDispositivo{
  box-sizing: border-box;
  background-color: var(--corFundoHeader);
  border-radius: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
#placarDispositivo .botao{
  margin: 0;
  border-radius: 10px;
}
#placarDificuldade{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  padding: 5px 0px;
}
/*  */
/*  */
/*  */
#placar table{
  background-color: #0b1a41;
  border-collapse: collapse;
  width: 490px;
  max-width: 100%;
}
#placar table *{
  border-collapse: collapse;
  gap: 0;
  margin: 0;
  color: var(--corFonte);
  background-color: var(--corFundo);
  box-sizing: border-box;
}
thead, tbody, thead td{
  border: 1px solid black;
}

#placar tbody tr,
#placar tbody td{
  border: 1px solid black;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

thead td{
  height: 100%;
}

.linhaPlacar td:nth-of-type(1),
thead td:nth-of-type(1){
  width: 10%;
}
.linhaPlacar td:nth-of-type(2),
thead td:nth-of-type(2){
  width: 10%;
}
  .linhaPlacar td:nth-of-type(2) img{
    width: 50px;
    height: 50px;
  }
.linhaPlacar td:nth-of-type(3),
thead td:nth-of-type(3){
  width: 42%;
  flex-shrink: 2;
}
.linhaPlacar td:nth-of-type(4),
thead td:nth-of-type(4){
  width: 18%;
}
.linhaPlacar td:nth-of-type(5),
thead td:nth-of-type(5){
  width: 20%;
}

@media (max-width: 600px) {
  #placar{
    width: 100vw;
    max-width: 100vw;
    padding: 30px 3px;
  }
  #placar table{
    width: 100vw;
  }
}