:root{
    /* claro - rgb(218, 230, 240) || escuro2 - rgb(34 47 55)*/
    --corFundo: #21315B;
    /* claro -  rgb(179, 195, 207) || escuro2 - rgb(29, 36, 43) */
    --corFundoHeader:  rgb(29, 36, 43);
    /* claro - rgb(0,0,0) || escuro - rgb(255,255,255)  */
    --corFonte: rgb(255,255,255);
    /* claro - brightness(0) saturate(100%) || escuro - brightness(0) invert(100%) contrast(100%)*/
    --filtroSvg: brightness(0) invert(100%) contrast(100%);
    --textShadow: 0px 0px 5px rgb(161, 161, 161);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(../imagem/background.png) var(--corFundo);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: var(--corFonte);
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: var(--corFundoHeader);
}
hr, br{
    margin: 0;
    user-select: none;
}

.iconSvg{
    filter: var(--filtroSvg);
    transition: 0.3s ease-in-out;
}
.iconSvg:hover{
    scale: 1.2;
    rotate: 12deg;
}

.tela {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #21315bd7;
    width: fit-content;
    padding: 10px 50px;
    margin: 0 auto;
}

.tela > div {
    justify-content: center;
}

.tela h2,
.tela h4{
    margin: 5px 0px;
    text-shadow: var(--textShadow);
}

#divBtnPrincipal{
    gap: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.botao {
    font-size: 25px;
    border-radius: 5px;
    border: 0;
    color: aliceblue;
    background-color: rgb(26, 35, 66);
    transition: 0.4s;
    user-select: none;
}

.botao:hover {
    scale: 1.3;
    background-color: rgb(61, 74, 121);
}
#botaoJogar a{
    text-decoration: none;
    color: aliceblue;
}
.botao:disabled{
    background-color: rgb(43, 64, 138);
    color: rgb(196, 196, 196);
}
.botao:disabled:hover{
    scale: 1;
}


#areaDoJogo {
    border-radius: 10px;
    min-width: 80vw;
    height: 70vh;
    background-color: rgb(124, 66, 163);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 1em auto;
    box-shadow: 0px 5px 15px 0px rgba(102, 102, 102, 0.5);
}

#bolinha {
    position: relative;
    display: none;
    background-color: rgba(0, 0, 255, 1);
    margin-left: auto;
    width: 5vh;
    height: 5vh;
    clip-path: circle(50%);
    transition: ease-out 0.05s;
}

#bolinha img {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 5.5vh;
}

#gameOver {
    color: red;
    visibility: hidden;
}

.divDificuldade {
    position: fixed;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(7, 18, 57, 0.613);
    backdrop-filter: blur(5px);
    gap: 60px;
}

.divDificuldade button {
    scale: 1.35;
    width: 300px;
    padding: 10px 2px;
}

#closeDificuldade{
    position: absolute;
    top: 0px;
    right: 30px;
    width: fit-content;
}



@media (max-width: 600px) {
    header{
        padding: 10px 20px;
    }
    #divBtnPrincipal{
        gap: 20px;
        box-sizing: border-box;
        padding: 0 1em;
    }
    #areaDoJogo{
        width: 90%;
    }
    .tela{
        width: 100vw;
        padding: 10px 0px;
    }
}